.education{
    padding: 5rem 6rem 10rem

;
}
.education .box-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
    padding: 1rem 8rem;
}

.education .box-container .box {
	margin: 4rem 1rem;
	padding: 0 3rem;
	position: relative;
    background-color: #191919;
}

.education .box-container .box span {
	background: #222;
	border-radius: 5rem;
	padding: .5rem 2.5rem;
    font-size: 2.0rem;
    color: crimson;
}

.education .box-container .box h3 {
	font-size: 2rem;
	color: #fff;
	padding-top: 1.5rem;
}

.education .box-container .box p {
	font-size: 20px;
	color: #eee;
	padding: 1rem 0;
}

.education .box-container .box i {
	position: absolute;
	top: -1.5rem;
	left: -2.5rem;
	height: 5rem;
	border-radius: 50%;
	line-height: 5rem;
	text-align: center;
	font-size: 2rem;
	color: #fff;
	background: crimson
}
